[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
googletrans = {git = "https://github.com/bllendev/py-googletrans.git"}
django = "==2.2.7"
psycopg2-binary = "==2.8.4"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-allauth = "==0.40.0"
pillow = "*"
django-debug-toolbar = "==2.2"
libgen-api = "*"
whitenoise = "*"
gunicorn = "*"
cornflake = "*"
dj-database-url = "*"
"django.core" = "*"
django-bootstrap4 = "*"
flake8 = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
django-nose = "*"
factory-boy = "*"
coverage = "*"
pytest = "*"
pytest-django = "*"
ebooklib = "*"
nose = "*"
jellyfish = "*"
nltk = "*"
textblob = "*"
celery = "*"
openai = "*"
transformers = {extras = ["sentencepiece"], version = "*"}
tensorflow = "*"
django-celery-results = "*"

[dev-packages]

[requires]
python_version = "3.8"
