aiohttp==3.8.5
aiosignal==1.3.1
amqp==5.1.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
billiard==4.1.0
bleach==6.0.0
bs4==0.0.1
celery==5.3.4
certifi==2023.7.22
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.36.0
colorama==0.4.6
contourpy==1.1.1
cornflake==0.2.4
coverage==7.3.2
crispy-bootstrap4==2022.1
crispy-bootstrap5==0.7
cryptography==41.0.4
cycler==0.12.0
defusedxml==0.7.1
dj-database-url==2.1.0
Django==4.2
django-allauth==0.57.0
django-bootstrap4==23.2
django-celery-results==2.5.1
django-cloudinary-storage==0.3.0
django-core==1.4.1
django-crispy-forms==2.0
django-debug-toolbar==4.2.0
django-nose==1.4.7
djangorestframework==3.14.0
EbookLib==0.18
factory-boy==3.3.0
Faker==19.6.2
flake8==6.1.0
fonttools==4.43.0
frozenlist==1.4.0
googletrans @ git+https://github.com/bllendev/py-googletrans.git@f2ab03ec750e60e119ee8777f60f4d417a17cfd4
gunicorn==21.2.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
iniconfig==2.0.0
iso8601==2.1.0
jellyfish==1.0.1
joblib==1.3.2
kiwisolver==1.4.5
kombu==5.3.2
libgen-api==1.0.1
lxml==4.9.3
matplotlib==3.8.0
mccabe==0.7.0
multidict==6.0.4
nltk==3.8.1
nose==1.3.7
numpy==1.26.0
oauthlib==3.2.2
openai==0.28.1
packaging==23.2
pandas==2.1.1
Pillow==10.0.1
plotly==5.17.0
pluggy==1.3.0
prompt-toolkit==3.0.39
pycodestyle==2.11.0
pycparser==2.21
pyflakes==3.1.0
PyJWT==2.8.0
pyparsing==3.1.1
pytest==7.4.2
pytest-django==4.5.2
python-dateutil==2.8.2
python-decouple==3.8
python3-openid==3.2.0
pytz==2023.3.post1
redis==5.0.1
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
scikit-learn==1.3.1
scipy==1.11.3
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.4.4
tenacity==8.2.3
textblob==0.17.1
threadpoolctl==3.2.0
tiktoken==0.5.1
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
vine==5.0.0
wcwidth==0.2.8
webencodings==0.5.1
whitenoise==6.5.0
yarl==1.9.2