<style>
   .content-section {
       display: flex;
       flex-wrap: wrap;
       align-items: flex-start;
       justify-content: space-around;
       padding: 1rem;
   }

   .instructions-section, .acknowledgment-section {
       flex: 1 1 45%;
       margin: 1rem;
   }

   .coffee-img {
       flex: 0 0 auto;
       max-width: 300px;
       margin: 1rem;
   }

   .coffee-img img {
       width: 100%;
       height: auto;
       max-width: 100%;
       border-radius: 8px;
   }
</style>

<div
    hx-trigger="refresh-forms-about from:body"
    hx-get="{% url 'about' %}"
    hx-swap="outerHTML transition:true"
>
    <header class="about-container">
        <hgroup>
            <h2>About Kalibre!</h2>
        </hgroup>
    </header>
    
    <main class="content-section">
        <article class="instructions-section">
            <header>
                <h5>How to Use Kalibre?</h5>
            </header>
            <ul>
                <li>Create an account or log in if you already have one.</li>
                <li>Add email addresses to which you'd like to send your ebooks in 'my emails'.</li>
                <li>Click 'kalibre' in the upper-left corner to return to the book search page.</li>
                <li>Find your book and send it with a simple click!</li>
            </ul>

            <header>
                <h5>Send Books Directly to Your Kindle:</h5>
            </header>
            <ul>
                <li>Login to your Amazon account.</li>
                <li>Go to 'Manage Your Content and Devices'.</li>
                <li>Under 'Preferences', find 'Personal Document Settings'.</li>
                <li>Add <i>bllendev@gmail.com</i> to 'Approved Personal Document E-mail List'.</li>
            </ul>
        </article>

        <article class="acknowledgment-section">
            <header>
                <h5>Acknowledgments:</h5>
            </header>
            <ul>
                <li>Special thanks to <i>pine</i> for the amazing artwork.</li>
                <li>Gratitude to <i>harrison-broadbent</i> for <i>libgen-api</i>. We use a modified version of this package.</li>
            </ul>
            <figure class="coffee-img">
                <img src="https://res.cloudinary.com/dmh0kulu1/image/upload/c_crop,h_1819/v1669002136/Animated-GIF-Export_1_cvc2cn.gif" alt="Coffee Sip Animation">
            </figure>
        </article>
    </main>
</div>
