<!--about.html-->
<div
    hx-trigger="refresh-forms-about from:body"
    hx-get="{% url 'about' %}"
    hx-swap="outerHTML transition:true"
>
    <header class="about-container">
        <hgroup>
            <h2>About Kalibre!</h2>
        </hgroup>
    </header>

    <main class="container grid">
        <!-- How To Use Section -->
        <details open>
            <summary role="button">How to Use Kalibre?</summary>
            <article class="instructions-section">
                <ul>
                    <li>Create an account or log in if you already have one.</li>
                    <li>Add email addresses to which you'd like to send your ebooks in 'my emails'.</li>
                    <li>Click 'kalibre' in the upper-left corner to return to the book search page.</li>
                    <li>Find your book and send it with a simple click!</li>
                </ul>

                <h5>Send Books Directly to Your Kindle:</h5>
                <ul>
                    <li>Login to your Amazon account.</li>
                    <li>Go to 'Manage Your Content and Devices'.</li>
                    <li>Under 'Preferences', find 'Personal Document Settings'.</li>
                    <li>Add <i>bllendev@gmail.com</i> to 'Approved Personal Document E-mail List'.</li>
                </ul>
            </article>
        </details>

        <!-- Acknowledgments Section -->
        <details>
            <summary role="button">Acknowledgments</summary>
            <article class="acknowledgment-section">
                <ul>
                    <li>Special thanks to <i>pine</i> for the amazing artwork.</li>
                    <li>Gratitude to <i>harrison-broadbent</i> for <i>libgen-api</i>. We use a modified version of this package.</li>
                </ul>

                <figure>
                    <img 
                        src="https://res.cloudinary.com/dmh0kulu1/image/upload/c_crop,h_1819/v1669002136/Animated-GIF-Export_1_cvc2cn.gif" 
                        alt="Coffee Sip Animation"
                        style="max-width:45%; height:auto; border-radius: 8px;"
                    >
                    <figcaption>Enjoy a sip while using Kalibre!</figcaption>
                </figure>
            </article>
        </details>
    </main>
</div>

