{% extends '_base.html' %}
{% load static %}

{% block title %}{{ book.title }} - Detail{% endblock title %}

{% block content %}

<div>
    <div id="book-detail-{{ book.id }}"
        hx-post="{% url 'book' book.id %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="#book-detail-{{ book.id }}"
        hx-push-url="false"
        hx-swap="outerHTML transition:true"
        hx-trigger="load"
        hx-indicator="#loading-indicator"
    ></div>

    <center>
        <div class="htmx-indicator" id="loading-indicator"
        style="max-height: 40px; max-width:40px">
            <img src="https://res.cloudinary.com/dmh0kulu1/image/upload/v1668730701/loading_no_background_lu50jo.gif" alt="Loading...">
        </div>
    </center>
</div>

{% endblock %}
