{% extends '_base.html' %}

{% block title %}Books{% endblock title %}

{% block content %}


    <div>
        <h3>Saved Books</h3>
        <ul>
            {% for book in book_list %}
                <li>
                    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Sent Books</h3>
        {% comment %} <div class="ml-2">    not made yet...
            {% for book in book_list %}
                <h6 class='ml-5'style="color:magenta"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h6>
            {% endfor %}
        </div> {% endcomment %}
    </div>
{% endblock content %}