{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% endblock title %}


{% block content %}

  <div class="row mb-3">
      <div class="col-md-8"></div>
      <div class="col-md-4" id="peas_div"></div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <h2 class="p-2">add emails you'd like to send your books to!</h2>
    </div>
  </div>
  <div>
    <form method="POST" id="add_email_form">
    {% csrf_token %}
      <div class="input-group mb-3" style="width:75%">
        <input id="email" name="email_input[]" type="text" class="form-control" placeholder="enter emails here!">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">submit</button>
        </div>
      </div>
    </form>
  </div>

<br>

<div>
  <div class="row">  
    <div class="col-md-12">
        <table class="table table-hover" id="email_table" style="width:66%">
          <thead>
            <tr>
              <th>my emails</th>
              <th align="center" >Translate?</th>
            </tr>
          </thead>


            {% for email in email_addresses %}
              <tr id="{{email.pk}}">

                <td>{{ email }}</td>

                <td align="center">
                  <input class="form-check-input" type="checkbox" id="translate_email_check_{{email.pk}}" {% if email.translate_file %}checked{% endif %}>
                  <label for="translate_email_check_{{email.pk}}">(experimental | <b>en-es</b> only)</label>
                </td>

                <form method="POST" id="delete_email_form_{{email.pk}}">
                  {% csrf_token %} 
                  <td align="right">
                    <input type="hidden" name="delete_email_pk[]" value={{email.pk}}>
                    <button type="submit" id="delete_email_{{email.pk}}" class="button btn-sm btn-danger text-nowrap">delete</button>
                  </td>
                </form>

              </tr>
            {% endfor %}

        </table>
    </div>

  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

<script>
  
  $(document).ready(function () {
    var token = '{{csrf_token}}';

    // -------------------- //
    // -- add email ajax -- //
    // -------------------- //
    add_email_form_onsubmit(token);

    {% for email in email_addresses %}
      // -------------------------- //
      // -- translate email ajax -- //
      // -------------------------- //
      set_translate_form_onsubmit("{{email.pk}}", token);

      // ----------------------- //
      // -- delete email ajax -- //
      // ----------------------- //
      set_delete_form_onsubmit("{{email.pk}}", token);
    {% endfor %}

  });


  function add_email_form_onsubmit(token) {
    $("#add_email_form").on("submit", function(event) {
      // stop propagation 
      event.stopPropagation();
      event.preventDefault();
     
      // serialize the form data 
      var data = $(this).serializeArray();
  
      // ajax ! - note: we are clearing our timeout func
      $.ajax({
        type : 'POST',
        url :  "{% url 'add_email' %}",
        data : data,
        headers: { "X-CSRFToken": token },
        success : function(response){
          // update ui with jquery to reflect new addition of emails
          var json_string = JSON.stringify(response);
          var returned_data = JSON.parse(json_string);
          var email_str = returned_data.email.toString();
          var email_pk = returned_data.email_pk.toString();
  
          // create a new table row with the specified ID
          var newRow = $('<tr>').attr('id', email_pk);
  
          // create the first table cell with the email string
          var emailCell = $('<td>').text(email_str);
          
          // translate cells
          var translateCell = $('<td>').attr('align', 'center');
          var translateCheckbox = $('<input>')
              .addClass('form-check-input')
              .attr('type', 'checkbox')
              .attr('id', 'translate_email_check_' + email_pk);
          var translateLabel = $('<label>')
              .attr('for', 'translate_email_check_' + email_pk)
              .html('(experimental | <b>en-es</b> only)');
          translateCell.append(translateCheckbox).append(translateLabel);
  
          // create the delete form
          var deleteForm = $('<form>')
              .attr('method', 'POST')
              .attr('id', 'delete_email_form_' + email_pk);
  
          // append csrf_token to delete form
          deleteForm.append('{% csrf_token %}');
  
          // create the third table cell with the alignment attribute
          var buttonCell = $('<td>').attr('align', 'right');
  
          // create the delete button
          var deleteButton = $('<button>')
              .attr('type', 'submit')
              .attr('id', 'delete_email_' + email_pk)
              .addClass('button btn-sm btn-danger text-nowrap')
              .text('delete');
  
          // append the hidden input to the delete form
          deleteForm.append($('<input>').attr('type', 'hidden').attr('name', 'delete_email_pk[]').attr('value', email_pk));
          deleteForm.append(deleteButton);
  
          // append the delete form to the button cell
          buttonCell.append(deleteForm);
  
          // append the email cell, translate cell, and button cell to the new row
          newRow.append(emailCell).append(translateCell).append(buttonCell);
  
          // append the new row after the last row of the email_table
          $("#email_table tr:last").after(newRow);
  
          // after adding to the table, add the delete and translate ajax
          set_translate_form_onsubmit(email_pk, token);
          set_delete_form_onsubmit(email_pk, token);
        },
        error : function(response){
            alert("hmmm, there seems to have been an error adding your email!");
        },
      });
  
    });
  }
  

  function set_translate_form_onsubmit(email_pk, token) {
    $("#translate_email_check_" + email_pk).on("change", function(event) {
      // stop propogation 
      event.stopPropagation();
      event.preventDefault();
  
      // The parent form of the checkbox
      var form = $(this).closest("form");
  
      // create the data object manually
      var data = [
        {
          name: 'translate_email_pk[]',
          value: email_pk
        },
        {
          name: this.name,
          value: this.checked ? 'on' : 'off'
        }
      ];
  
      // ajax ! - note: we are clearing our timeout func
      $.ajax({
        type : 'POST',
        url :  "{% url 'toggle_translate_email' %}",
        data : data,
        headers: { "X-CSRFToken": token },
        success : function(response){
          // update ui with jquery to reflect deletion of emails
          var json_string = JSON.stringify(response);
          var returned_data = JSON.parse(json_string);
          var translate_email_pk = returned_data.translate_email_pk;
        },
        error : function(response){
            alert("hmmm, there seems to have been an error, setting your email to translate!");
        },
      });
  
    });
  }

  function set_delete_form_onsubmit(email_pk, token) {
    $("#delete_email_" + email_pk).on("click", function(event) {
      // stop propogation 
      event.stopPropagation();
      event.preventDefault();

      // serialize the form data 
      // var data = $(this).serializeArray();
      var data = [
        {
          name: 'delete_email_pk[]',
          value: email_pk
        },
      ];

      // ajax ! - note: we are clearing our timeout func
      $.ajax({
        type : 'POST',
        url :  "{% url 'delete_email' %}",
        data : data,
        headers: { "X-CSRFToken": token },
        success : function(response){
          // update ui with jquery to reflect deletion of emails
          var json_string = JSON.stringify(response);
          var returned_data = JSON.parse(json_string);
          var delete_email_pk = returned_data.delete_email_pk;
          $("#" + delete_email_pk).remove();
        },
        error : function(response){
            alert("hmmm, there seems to have been an error deleting your email!");
        },
      });

    });
  }
</script>

{% endblock content %}
