<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">{{ email.address }}</h5>
        <p class="card-text">
            <select class="form-control" 
            id="email_{{ email.pk }}_language" 
            name="email_{{ email.pk }}_language"
            hx-swap="outerHTML swap:0s"
            hx-post="{% url 'toggle_translate_email' email.pk %}" 
            hx-trigger="change"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}", "HX-Response-Format": "mobile"}'>
                {% for lang_code, lang_name in LANGUAGES.items %}
                <option value="{{ lang_code }}" {% if email.translate_file == lang_code %} selected {% endif %}>
                {{ lang_name }}
                </option>
                {% endfor %}
            </select>
        </p>
        <button type="submit" 
                hx-delete="{% url 'delete_email' email.pk %}" 
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                class="btn btn-sm btn-danger">Delete
        </button>
    </div>
</div>
