/* Navbar Styling */
:root {
  --primary-color: #8fbcbb;
  --secondary-color: #88c0d0;
  --accent-color: #ebcb8b;
  --background-dark: #2e3440;
  --background-light: #eceff4;
}

.nav {
  background: linear-gradient(135deg, #2e3440, #3b4252);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

nav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #eceff4;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #a3be8c;
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* HTMX Indicator Styling */
.htmx-indicator {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
  opacity: 1;
}

/* Links */
a {
  color: #379683;
  transition: color 0.3s ease;
}

a:hover {
  color: #317773;
}

/* Cards */
.card {
  background-color: #F6EED8;
  border-radius: 0.75rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transform: translateY(-0.3rem);
}

input#search-query:focus {
  border: 2px solid #a3be8c;
  box-shadow: 0 0 10px rgba(163, 190, 140, 0.5);
}

@keyframes typing {
  0% { content: "What do you wanna read?"; }
  33% { content: "Find your next favorite book..."; }
  66% { content: "Explore the library!"; }
}

input#search-query::placeholder {
  animation: typing 5s infinite;
}


/* Book Cover Image */
img.bookcover {
  max-height: 37.5vh;
  width: auto;
}

/* AI Chatbox */
#ai-chatbox {
  background: linear-gradient(135deg, #2e3440, #3b4252);
  border: none;
  color: #eceff4;
}

#ai-chatbox textarea {
  border-radius: 10px;
  margin-top: 10px;
  background-color: #3b4252;
  color: #eceff4;
  border: 1px solid #4c566a;
}

/* Smooth Transition Effects */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

::view-transition-old(body-transition) {
  animation: fade-out 0.2s ease-out forwards;
}

::view-transition-new(body-transition) {
  animation: fade-in 0.2s ease-in forwards;
}


