<!-- Bootstrap card for each book, adjusted for a 3x4 grid -->
<div class="col-6 col-md-4 col-lg-3 mb-4 book-row" id="book_{{ book.pk }}">
    <div class="card h-100">
        <div class="card-body d-flex flex-column">
            <!-- Book Cover Image -->
            {% comment %} <div class="book-cover mb-2 flex-grow-1">
                <img src="{{ book.get_cover_url }}" alt="{{ book.title }}" class="img-fluid">
            </div> {% endcomment %}
            <!-- Book Title -->
            <h5 class="card-title mb-1">
                <a href="{{ book.get_absolute_url }}" class="text-dark text-decoration-none">
                    {{ book.title|truncatechars:50 }}
                </a>
            </h5>
            <!-- Book Author -->
            <p class="card-text small text-muted mb-1">{{ book.author|truncatechars:50 }}</p>
            <!-- Book File Type -->
            <p class="card-text small text-muted">{{ book.filetype|truncatechars:50 }}</p>
            <!-- Send Button -->
            {% if book.filetype %}
                <button type="button"
                        hx-post="{% url 'send_book_ajax' book.pk %}"
                        hx-trigger="click"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        hx-target="#book_{{ book.pk }}"
                        hx-indicator="#loading_notification"
                        hx-boost="true"
                        hx-confirm="{{ hx_confirm_str }}"
                        class="btn btn-sm btn-primary mt-auto">
                    Send
                </button>
            {% endif %}
        </div>
    </div>
</div>
