{% load static %}

<!DOCTYPE html>
<html>
<head>
  <style>
    .loading-cursor {
        cursor: url('https://res.cloudinary.com/dmh0kulu1/image/upload/v1668730701/loading_no_background_lu50jo.gif'), progress !important;
    }
  </style>
  <meta charset="utf-8">
  <title>{% block title %}kalibre{% endblock title %}</title>   <!--as a dutifule homage to the first Calibre :)-->
  <!-- Bootstrap CSS -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH\/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">kalibre</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav me-auto mb-2 mb-md-0 d-flex flex-row">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'my_emails' %}">my emails</a>
          {% endif %}
          <a class="nav-link" href="{% url 'about' %}">how to use?</a>
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'account_logout' %}">log out</a>
          {% else %}
          <a class="nav-link" href="{% url 'account_login' %}">log in</a>
          <a class="nav-link" href="{% url 'account_signup' %}">sign up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}    
            {% endblock content %}
        </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script>

      $(document).ready(function () {

        // setup
        var token = '{{csrf_token}}';

        // dancing_bears
        var dancing_bears_gif = $('<img id="dancing_bears">'); //Equivalent: $(document.createElement('img'))
        dancing_bears_gif.attr('src', "https://res.cloudinary.com/dmh0kulu1/image/upload/v1668921388/coffee_nosip-removebg-preview_d56wv8.png");
        dancing_bears_gif.attr('style', 'max-width:100%;max-height:100%;background-color:transparent;');

        // flowers
        var flowers_gif = $('<img id="blue_reading_gif">'); //Equivalent: $(document.createElement('img'))
        flowers_gif.attr('src', "https://res.cloudinary.com/dmh0kulu1/image/upload/v1668921385/blue_reading-removebg-preview_hnuxuo.png");
        flowers_gif.attr('style', 'max-width:100%;max-height:100%;background-color:transparent;');

        // blue reading
        var blue_reading_img = $('<img id="blue_reading_img">'); //Equivalent: $(document.createElement('img'))
        blue_reading_img.addClass("background-image");
        // blue_reading_img.attr('src', "https://res.cloudinary.com/dmh0kulu1/image/upload/v1669002136/Animated-GIF-Export_qqnhmb.gif");
        blue_reading_img.attr('src', "https://res.cloudinary.com/dmh0kulu1/image/upload/c_crop,h_1526,w_2048,y_840/v1669424019/Animated-GIF-Export_qqnhmb.gif");
        blue_reading_img.attr('style', 'max-width:100%;max-height:100%;background-color:transparent;');
        blue_reading_img.appendTo('#blue_reading_div');
        blue_reading_img.show();

        // loading gif
        var loading_gif = $('<img id="loading_gif">'); //Equivalent: $(document.createElement('img'))
        loading_gif.attr('src', "https://res.cloudinary.com/dmh0kulu1/image/upload/v1668730701/loading_no_background_lu50jo.gif");
        loading_gif.attr('style', 'max-width:100%;max-height:100%;background-color:transparent;');

        // hide our gif div on loadup
        $('#loading_div').hide();
        loading_gif.hide();

        // handy centering function (centering our gif)
        $.fn.center = function () {
          this.css("position","absolute");
          this.css("top", ($(window).height() - this.height()) / 2+$(window).scrollTop() + "px");
          this.css("left", ( $(window).width() - this.width() ) / 2+$(window).scrollLeft() + "px");
          return this;
        }

        // handy func to make div transparent
        $.fn.transparent = function () {
          this.css("background-color", "transparent");
          this.css("border", "0px");
          return this;
        }

        // handy func to check if user actually has emails
        function user_has_emails_bln() {
          return $("#email_address_list").length > 0
        }
      });

  </script>

</body>
</html>
