{% extends "_base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
  
  <h2>welcome to kalibre</h2>
  <hr style="width:85%"></hr>

  <h4>how to use?</h4>
  <ul>
      <li>you can create an account and then go to "my emails", where you can add emails you'd like to send your books to.</li>
      <li>click 'kalibre' in the upper-left corner to head back to the book search page</li>
      <li>after finding a book, send it to the emails you've added in "my emails" by clicking the send button, please wait a second the process takes a few moments!</li>
  </ul>

  <h4>sending books straight to your kindle</h4>
  <ul>
      <li>go to your amazon account on the amazon website</li>
      <li>head to 'Manage Your Content and Devices' page</li>
      <li>head to 'Preferences' tab --> scroll down to 'Personal Document Settings'</li>
      <li>find 'Approved Personal Document E-mail List' and add the email <i>bllendev@gmail.com</i></li>
  </ul>
  <hr style="width:75%"></hr>
  <ul>
      <li>thank you <i>pine</i> for <i>your wonderful artwork</i>!</li>
      <li>thank you <i>harrison-broadbent</i> for <i>libgen-api</i>! - this app uses a modified version of this package</li>
  </ul>



{% endblock content %}