{% extends "_base.html" %}
{% load static %}

{% block title %}kalibre{% endblock title %}

{% block content %}
  {% load static %}
  <center>
    <h1 style="font-size:100px">kalibre</h1>
      {% comment %} <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}"method="get">
          <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search"aria-label="Search">
      </form> {% endcomment %}
      <div class="row justify-content-center">
        <div id="blue_reading_div" class="col-md-6">
          <img id="blue_reading_img" class="background-image" src="https://res.cloudinary.com/dmh0kulu1/image/upload/c_crop,h_1526,w_2048,y_840/v1669424019/Animated-GIF-Export_qqnhmb.gif" style="max-width:100%;max-height:100%;background-color:transparent;">
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-6">
            <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
              <input name="db_q" style="width:100%" class="form-control mr-sm-2" type="text" placeholder="what do you wanna read?">
            </form>
          </div>
      </div>
    </center>
{% endblock content %}
