<div class="container">

  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="p-2">Add emails you'd like to send your books to!</h3>
        </div>
      </div>

      <div class="mb-3">
        <form id="add_email_form"
              hx-post="{% url 'add_email' %}"
              hx-target="#email_cards"
              hx-swap="beforeend"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
              hx-boost="true" >
                <div class="input-group mb-3">
                  <input id="email" name="email_input[]" type="text" class="form-control" placeholder="Enter emails here!">
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit">Submit</button>
                  </div>
                </div>
        </form>
      </div>

      <div class="mb-5">
        <div class="row">
          <div class="col-12">
            
            <!--Email Cards-->
            <div id="email_cards" class="d-block">
              {% for email in email_addresses %}
                  {% include "users/components/email_entry.html" %}
              {% endfor %}
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-4" id="peas_div">
      <!-- Peas image will now be within this div and responsive -->
      <img id="peas" src="https://res.cloudinary.com/dmh0kulu1/image/upload/v1669002136/Animated-GIF-Export_2_jprvz9.gif" style="max-width:100%; background-color:transparent;" class="img-fluid">
    </div>

  </div>

</div>