{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}My Profile{% endblock title %}

{% block content %}


<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card p-4 bg-light">
                <h2 class="mb-4">My Profile</h2>
                <p>Welcome User!</p>
                <div class="d-flex justify-content-around mx-auto mb-4">
                    <button id="btnBooks" class="btn btn-outline-primary m-1">My Books</button>
                    <button id="btnEmails" class="btn btn-outline-primary m-1">My Emails</button>
                    <button id="btnAI" class="btn btn-outline-primary m-1">My Kalibre AI</button>
                    <button id="btnSearches" class="btn btn-outline-primary m-1">My Previous Searches</button>
                </div>
                <div class="card p-4 bg-white">
                    <div id="dynamicContent">
                        <!-- Dynamic content will be loaded here via AJAX -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        
        function loadContent(url) {
            // Use the fadeOut effect to smoothly hide the current content
            $("#dynamicContent").fadeOut(300, function() {
                // Once the fadeOut is done, fetch new content
                $.get(url, function(data) {
                    // Update the div with new content and fadeIn
                    $("#dynamicContent").html(data).fadeIn(300);
                });
            });
        }

        $("#btnBooks").click(function() {
            loadContent('/my-books/');
        });

        $("#btnEmails").click(function() {
            loadContent('/my-emails/');
        });

        $("#btnAI").click(function() {
            loadContent('/my-ai/');
        });

        $("#btnSearches").click(function() {
            loadContent('/my-searches/');
        });
    });
</script>

{% endblock content %}